@use '../base/mixins' as m;
@use '../base/variables' as v;

.filtros {
    background-color: lighten($color: v.$blanco, $amount: 20%);
    display: block;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    
    .filtros-inputs {
        
        @include m.desktop {
            display: flex;
            align-items: center;
            gap: 2rem;
        }
    }
    
    input[type="radio"] {
        accent-color: v.$indigo;
        width: 1.6rem;
        height: 1.6rem;
    }

    h2 {
        color: v.$indigo;
        font-size: 2rem;
        @include m.desktop {
            margin: 0;
        }
    }

    .campo {
        display: block;
        margin: 1rem 2rem 1rem 2rem;
        
        @include m.tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }       
        gap: 2rem;

        @include m.desktop {
            margin: 0;
            gap: .5rem;
        }

        label {
            font-size: 1.5rem;
            font-weight: bold;
            display: block;
            padding: 1.5rem;
        }

        select {
            //flex: .5; //esto hace que tome la mitad del tamaño
            border: 1px solid v.$gris;
            padding: .5rem;
            border-radius: 1rem;
        }
    }

}